{% extends "base.html" %}

{% block title %}Pictionary Word{% endblock %}

{% block content %}
    <h1>Pictionary Word</h1>
    Question: {{ word.phrase }} <br>
    difficulty: {{ word.difficulty }} <br>

    <button onclick="window.location.href = '{{ url_for('welcome') }}';">
        Home
    </button>

    <!-- Jinja if-statement -->
    {% if index < max_index %}
        <button onclick="window.location.href = '{{ url_for('word_view', index=index+1) }}';">
            Next Card
        </button>

    {% else %}
        <button onclick="window.location.href = '{{ url_for('word_view', index=0) }}';">
            Start Over
        </button>

    {% endif %}     <!-- must close Jinja if-statement -->
{% endblock %}